@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 350; /* Appliqué à tout le document */
    color: rgba(0, 0, 0, 0.87);
    font-variation-settings: "wdth" 100, "YTLC" 500;
  }
}

.panel-title{
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.tooltip {
    background: #fff;
    opacity: 0.9;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(0 0 0 / 10%);
    font-size: 14px;
    /*max-width: 200px;*/
    min-width: 200px;
    padding: 8px 12px;
    position: absolute;
    /*transform: translateY(-50%);*/
}
.tooltip-title {
  font-size: 14px;
  margin-bottom: 8px;
}
.tooltip-content {
    border-left: solid 4px;
    padding-left: 8px;
    padding-top: 0px;
}
.tooltip-row {
    display: flex;
    justify-content: space-between;
    line-height: 16px;
    font-size: 14px;
    margin: 2px 0;
}
/*.tooltip p {
  margin: 2px 0;
}*/


/* Layout par défaut (écran large) */
.main-container {
  display: flex;
  height: 660px;
  margin-left: 0px;
  margin-right: 60px;
}

.right-column {
  width: 40%;
  height: 100%;
}

.left-column {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top-row {
  height: 50%;
  display: flex;
}

.top-left {
  width: 40%;
  height: 100%;
}

.top-right {
  width: 60%;
  height: 100%;
}

.bottom-row {
  height: 50%;
}

/* Layout pour écran étroit (< 900px) */
@media (max-width: 1150px) {
  .main-container {
    flex-direction: column;
    height: auto; /* Hauteur automatique pour éviter les superpositions */
  }

  .left-column,
  .right-column {
    width: 100%;
    height: auto; /* Hauteur automatique */
  }

  .top-row {
    flex-direction: column; /* Les deux divs du haut s'empilent */
    height: auto;
  }

  .top-left,
  .top-right {
    width: 100%;
    height: 50vh; /* Chaque composant prend la moitié de la hauteur de l'écran */
  }

  .bottom-row {
    height: 50vh; /* Le composant du bas prend la moitié de la hauteur */
  }
}